*{

    padding: 0;
    margin: 0;
    box-sizing: none;
    
}

:root{

    background-color: aliceblue;

}

.X{

    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    left:300px;
    top:300px;
}

.camada-left{

    width: 30px;
    height: 3px;
    transform: rotate(30px);
    background-color: black;

}