*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{

    background-color: white;

}

.divMain{

    position: sticky;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    height: 80px;
    top: 200px;

}